<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/region-overlay.css" />
  </head>
  <body>
    <div class="overlay-border dashed-border" id="border"></div>

    <script>
      const { ipcRenderer } = require("electron");
      const border = document.getElementById("border");

      ipcRenderer.on("init-region", (event, data) => {
        border.style.width = data.width + "px";
        border.style.height = data.height + "px";
        border.style.left = "6px";
        border.style.top = "6px";
      });
    </script>
  </body>
</html>
